tr{
    width: 1000px;
    cursor: pointer;
}

td {
    text-align: left;
    padding: 8px;
  }
  tr:hover{
    background-color: lightgray;
}
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 120%;
  }