<ng-container
  *ngIf="title != 'obrisi'; then edit; else delete">
</ng-container>

<ng-template #edit>
    <button #editt id="edit" type="button" class="btn btn-primary float-right" (click)="clickBtn()">{{title | titlecase}}</button>
</ng-template>
<ng-template #delete>
    <button type="button" class="btn btn-danger float-right" (click)="buttonPressed.emit(title)" (click)="ngxSmartModalService.getModal('myModal').open()">{{title | titlecase}}</button>
</ng-template>

<ngx-smart-modal #myModal identifier="myModal">
    <h6>Da li zelite da izbrisete ovog radnika sa spiska radnika?</h6>
    <button class="btn btn-danger" (click)="deleteEmployee.emit({'delete': 'true'})">Da</button>
    <button class="btn btn-primary float-right" (click)="myModal.close()">Ne</button>
</ngx-smart-modal>