.row {
    width: 95%;
    margin: auto;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    input {
      border-radius: 20px;
      width: 93%;
    }
  }
  
  i {
    margin: 5px;
  }