<div class="row">
        <input class="form-control" type="text" placeholder="Pretraga" aria-label="Search" [(ngModel)]="searchTerm">
        <button type="button" class="btn btn-primary float-right" [routerLink]="['add']">Dodaj</button>
    </div>
    <div class="box">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col" class="text-center"></th>
            <th scope="col" class="text-center">Ime uposlenika</th>
            <th scope="col" class="text-center">Vrijeme dolaska</th>
            <th scope="col" class="text-center">Stigao na vrijeme</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of (dailyScrumItems$ | async) | search:searchTerm">
              <tr>
                  <th scope="row" class="text-center"><i class="far fa-edit" (click)="open(item, 'edit')"></i><i class="fas fa-user-times" (click)="open(item, 'delete')"></i></th>
                  <td class="text-center">{{item?.name}}</td>
                  <td class="text-center">{{item?.time.hour}}:{{item?.time.minute}}</td>
                  <td class="text-center">{{item?.onTime}}</td>
                </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <p class="numOfEmployees">Broj redova: {{((dailyScrumItems$ | async) | search:searchTerm)?.length}}</p>
