.myClass {
    float: left;
    width: 20%;
}
.myClass1 {
    width: 80%;
    float: left;
}
.myClass1 input {
    margin-top: 38px;
}
.btn {
    // margin-top: 50px;
}
.redBorder {
    border-color: red;
}